---
export async function getStaticPaths() {
  return Promise.resolve([
    {
      params: {
        page: '1',
      },
      props: {
        message: 'foo',
      },
    },
    {
      params: {
        page: '2',
      },
      props: {
        message: 'bar',
      },
    },
    {
      params: {
        page: '3',
      },
      props: {
        message: 'hoge',
      },
    },
  ]);
}

const { page } = Astro.params;
const { message } = Astro.props;

const isOdd = Number(page) % 2 === 1;
---

<style>
  .odd {
    color: brown;
  }
  .odd::before {
    content: 'odd ';
  }
</style>

<h1>{`current page index is ${page}.`}</h1>
<p>
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni, quibusdam!
</p>
<p class:list={[{ odd: isOdd }]}>{message}</p>
