---
import { ButtonWithAlert } from '../components/ButtonWithAlert';

import { ClientComponent } from '../components/ClientComponent';
import SomeAstroComponent from '../components/SomeAstroComponent/index.astro';
import axios from 'axios';

const res = await axios.get<{ name: string }[]>(
	"https://jsonplaceholder.typicode.com/users"
);

const users = res.data;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		<div>
<ButtonWithAlert client:load />
<SomeAstroComponent text='baby' />
<!-- RSC is not working within Astro componnet  -->
<!-- <ServerComponent /> -->
 <ClientComponent client:load />
<ul>
      {users.map((user) => (
        <li>{user.name}</li>
      ))}
    </ul>

		</div>
	</body>
</html>
